* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background: #072840;
    text-align: left;
}

header {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
    margin-top: 2%;
    text-shadow: -1px 2px #072840,
                -2px 4px red;
}

.container {
    max-width: 980px;
    margin: 0 auto;
}

.row {
    box-sizing: border-box;
    margin: 2% auto 0 auto;
    width: 100%;
    clear: both;
    overflow: hidden;
}

#buttonRowBack {
    background-color: #006BB6;
}

.gifDiv {
    display: inline-block;
    border: 1px solid black;
    background-color: #006BB6;
    padding: 1%;
    margin: 1%;
    box-shadow: 0px 10px 16px -8px rgba(0,0,0,.8);
}

.rating {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 1.5rem;
}

.gifBtn {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    background: none;
    color: white;
    border-style: solid;
    border-color: #006BB6;
    border-width: 0px 0px 3px 0px;
    margin: 1% 1%;
    cursor: pointer;
    transition: border 1s ease, background 1s ease;
}

.gifBtn:hover:not(.active) {
    background: #072840;
}

.gifForm {
    display: inline-block;
    margin: 0 2%;
    width: 45%;
}

form {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    color: white;
}

.active {
    border-bottom: 3px solid red;
}

.gifBtn:focus {
  outline: none;
}
